/* RESET SETTING */
html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn, em, img, ins, kbd, q, samp,small, strong, sub, sup, var,b, i,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, figcaption, figure,footer, header, hgroup, menu, nav, section, summary,time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}


body {
     font-family: goergia,helvetical,arial,elvetica,sans-serif;
     font-size: 62.5%;
  line-height: 1.5;
  background: url(images/body_bg.png)
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.clear {
  clear: both;
}

a img {
  border: none;
}

#wrapper {
  width: 800px;
  margin: 20px auto;
  border: 1px solid white;
}

/* END RESET */

/* HEADER */
#header {
  width: auto;
  height: 218px;
  background: url(images/header_bg.png)repeat-x top left;
}

#header div#logo {
  float: left;
  text-align: center;
  width: 166px;
  height: 215px;
  background: url(images/logo_bg.png) repeat-x top left;
}

#header div#logo ul#small-nav {
  margin: 17px 0 25px 0;
  padding: 0 0 9px 5px;
  background: url(images/saperator.png) no-repeat bottom center;
}

#header div#logo ul#small-nav li {
  display: inline;
}

#header div#logo ul#small-nav li a {
  color: white;
  font-size: 0.9em;
  text-transform: uppercase;
  border-right: 1px solid white;
  padding-right: 5px;
}

#header div#logo ul#small-nav li:last-child a {
  border: none;
}

#header div#logo h1 {
  color: white;
  font-size: 1.8em;
  font-family: tahoma, arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

#header div#logo span {
  color: #ff7200;
}

#header div#logo p {
  text-align: right;
  margin-right: 10px;
  color: #6e6d6e;
}

#header div#logo p.login {
  margin: 20px 0 0 0;
  padding: 10px 15px 0 0;
  color: white;
  font-size: 1.1em;
  background: url(images/saperator.png) no-repeat top center;
}

#header div#logo p.login a {
  color: #ff7200;
  font-weight: bold;
}

#header div#banner img {
  margin: 10px 0 0 0;
}

#header div#navBar {
  height: 36px;
  background: #c23903;
}

#header div#navBar ul.mainNav li {
  float: left;
  position: relative;
}

#header div#navBar ul.mainNav li a {
  display: block;
  color: white;
  font-size: 1.2em;
  margin: 0 15px 0 10px;
  line-height: 33px;
}

#header div#navBar ul.mainNav li ul {
  position: absolute;
  left: 10px;
  width: 130px;
  display: none;
  background: #ff6600;
}

#header div#navBar ul.mainNav li ul li{
  width: 100%;
  border-bottom: 1px dotted white;
}

#header div#navBar ul.mainNav li:hover ul {
  display: block;
}

/* END HEADER */

/* MAIN SETTING */

#sidebar {
  float: left;
  width: 166px;
}

#content {
  background: white;
}

#primary {
  font-size: 1.2em;
  float: right;
  width: 630px;
}

/* END MAIN */


/* SIDEBAR SETTING */

#sidebar div#search {
  height: 107px;
  border-top: 1px solid white;
  padding: 5px;
  background: #e2e4d7;
}

#sidebar div#search p {
  font-size: 1.1em;
  text-transform: uppercase;
  border-left: 2px solid #c23903;
  margin: 5px 0 0 0;
  padding-left: 5px;
}

in#search-field {
  width: 120px;
  margin: 5px 0 0 0;
}

.button {
  background: #007eff;
  color: white;
  border: 1px splid #b4b5b0;
  padding: 3px;
  cursor: pointer;
  margin: 0 0 5px 0;
}

.button:hover {
  background: #ff6600;
}

#search a {
  color: #ff6600;
  font-size: 1.1em;
}

/* END SIDEBAR */

/* FEARTURED SETTING */

#sidebar div#featured {
  background: url(images/newtut_bg.png) repeat-x top left;
}

#sidebar div#featured h1 {
  color: white;
  text-transform: uppercase;
  font-size: 1.2em;
  text-align: center;
  background: url(images/saperator.png) no-repeat bottom center;
  padding: 8px;
}

#sidebar div#featured ul {
  padding: 0px 10px;
}

#sidebar div#featured li {
  border-bottom: 1px dotted white;
  padding: 10px 0px;
  color: white;
  font-size: 1.1em;
}

#sidebar div#featured li:last-child {
  border: none;
}

#sidebar div#news {
  border: 1px solid white;
  overflow: hidden;
  background: white url(images/featured_bg.png) repeat-x top left;
}

#sidebar div#news h1 {
  font-size: 1.4em;
  text-transform: uppercase;
  color: white;
  text-align: center;
  margin: 8px 0 15px 0;
}

#sidebar div#news ul {
  padding: 0 0 0 7px;
}

#sidebar div#news li {
  padding-bottom: 40px;
}

#sidebar div#news li img {
  float: left;
  clear: both;
  margin: 0 5px 0 0;
}

/* END FEARTURED */


/* PRIMARY SETTING */

#primary #welcome {
  height: 110px;
  padding-bottom: 40px;
  margin: 0 0 0 0;
  border-bottom: 1px dotted #bfb8b2;
}

#primary #welcome img {
  float: left;
  margin: 0 5px 0 0;
}

#primary #welcome h1 {
  color: #3f3f3f;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: nomal;
  padding-top: 20px;
}

#primary #welcome span {
  font-size: 1.5em;
  color: #c23903;
  border-left: 2px solid #c23903;
  padding-left: 20px;
}

#primary #welcome ul {
  text-align: center;
  margin: 0 0 0 0;
}

#primary #welcome ul li {
  display: inline;
}

#primary #welcome li a {
  padding-right: 15px;
  color: #ff6600;
  padding-left: 12px;
  font-size: 1.1em;
  background: white url(images/bullets.png) no-repeat 0 50%;
}

/* END PRIMARY */

/* TIER 1 SETTING */

#tier-1 {
  overflow: hidden;
  border-bottom: 1px dotted #bfb8b2;
}

.post-item {
  float: left;
  width: 290px;
  margin: 0 0 0 0;
}

.post-item h1 {
  color: #393938;
  font-size: 1.3em;
  text-transform: uppercase;
  padding-left: 15px;
  border-bottom: 1px solid #bfb8b2;
  margin: 10px 10px 10px 0;
  background: url(images/bullets.png) no-repeat 0 50%;
}

.post-item span {
  color: #c23903;
}

.post-item img {
  float: left;
  margin: 3px 5px 0 0;
}

div.metadata {
  font-size: 0.9em;
  text-align: right;
  float: right;
  margin: 10px 10px 10px 0;
}

div.metadata a {
  color: #ff6600;
  padding-left: 15px;
  background: url(images/bullets.png) no-repeat 0 50%;
}

div.metadata p {
  margin: 0 0 0 0;
}

#tier-2 img {
  float: none;
  margin: 0 0 10px 0;
}

/* END TIER 1 */

/* FOOTER SETTING */

#footer {
  height: 50px;
}

#footer div#footer-left {
  color: white;
  text-align: center;
  font-size: 1.1em;
  float: left;
  width: 166px;
  height: 50px;
  border-right: 1px solid white;
  background: url(images/footer-left_bg.png) repeat-x top left;
}

#footer-left p.copyright {
  margin: 5px 0 0 0;
}

#footer div#footerNav {
  height: 50px;
  background: url(images/footer-right.png) repeat-x top left;
}

#footerNav ul {
  line-height: 50px;
}

#footerNav li {
  display: inline;
  margin: 0 0 0 10px;
}

#footerNav li a {
  color: white;
  font-size: 1.2em;
}

/* END FOOTER */

/* CONTACT SETTING */

#feedback {
	margin: 40px 0 0 0;
	font-size: 14px;
	width: 500px;
}

#feedback legend {
	font-weight: bold;
	font-size: 20px;
}

#feedback input {
	display: block;
	margin: 0 0 10px 0;
	border: 1px solid #828183;
	background: white;
}

#feedback textarea {
	display: block;
	width: 350px;
	height: 250px;
	font-size: 12px;
	margin: 0 0 10px 0;
}

#feedback #submit {
	cursor: pointer;
	padding: 5px;
	font-weight: bold;
}

#feedback #submit:hover {
	background: #0073ff;
	color: white;
	
}
/* END CONTACT */